
body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(43, 43, 43);
}

form {
    width: 300px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: rgb(43, 43, 43);
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
}

button {
    background-color: rgb(0, 102, 255);
    color: rgb(207, 207, 207);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

button:hover {
    background-color: rgb(0, 38, 255);
}

a {
    margin-top: 10px;
}